- name: Versatile PyInstaller
  # You may pin to the exact commit or the version.
  # uses: sayyid5416/pyinstaller@3f23c8bb6c4afd3f7886806e62baac781f468009
  uses: sayyid5416/pyinstaller@v1.2.0
  with: main.py
  - This file will be used to create executable.
  - If .py: Generated spec file will also be uploaded as artifact

    spec: # default is 
    # path of your requirements.txt file
    requirements: # optional, default is 
    --onefile
  - Supported options: Check readme

    options: # optional, default is 
    # specific python version you want to use
    python_ver: # optional, default is 3.10
    # Path on runner-os, where generated executable files are stored
    exe_path: # optional, default is ./dist
    # If passed, uploads executable artifact  with this name. Else, artifact won't be uploaded.
    upload_exe_with_name: ascii-art-generator # optional, default is 
